services:
  elasticsearch:
    image: elasticsearch:8.18.1
    ports:
      - "9200:9200"
      - "9300:9300"
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
  neo4j:
    image: neo4j:5
    ports:
      - "7687:7687"
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
  rabbitmq:
    image: rabbitmq:3
    ports:
      - "54130:54130"